
# ====================== Vault ======================
VAULT_ROOT_TOKEN=myroot

# ====================== Next.js ======================
NODE_ENV=production

# ====================== Ports (for reference) ======================
NEXTJS_PORT=3000
VAULT_PORT=8200
PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
UPTIME_KUMA_PORT=3001
NODE_EXPORTER_PORT=9100